* {
    margin: 0;
    padding: 0;
}

/* Tags Section ----------------------------------*/

.dotted-hr {
    border-style: dotted none none;
    border-width: 10px;
    width: 5%;
    margin: auto;
    background-color: transparent;
}

/* Nav Bar Section------------------------------- */
.navbar-brand{
    font-weight: bold;
}

.link-group {
    display: flex;
}

.link-group:hover {
    cursor: pointer;
}


.brand-link {
    display: flex;
}

/* Information Section---------------------------- */
/* .img-info {
    background: rgb(0 0 0 / 86%) url(../Image/image2.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
} */
.sub-img-info {
    width: 70%;
    padding: 3% 3% 2%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    padding: 2%;
}

/*.info {
    width: 67%;
}
*/
.info-heading {
    padding: 1%;
    font-size: 2.3rem;
    /* color: #fff; */
}

.info-para {
    font-size: 1.2rem;
    line-height: 1.4;
    padding: 1% 0;
    margin-bottom: 0;
    /* color: #fff; */
}

/* About Us Section---------------------------- */

.sub-head-para{
    width: 70%;
    padding: 2%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-head {
    padding: 1%;
    font-size: 2.3rem;
}
.about-para{
    font-size: 1.15rem;
    line-height: 1.4;
    padding: 1% 0;
    margin-bottom: 0;
}

/* Register POP up */
/* Import Google font - Poppins */
.container {
    width: 35%;
    background: #fff;
    padding: 25px;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 1040;
    border-radius: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .overlay-form{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
  }
  
  .container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
  }
  
 
  
  .form .input-box {
    width: 100%;
  }
  
  .input-box label {
    color: #333;
  }
  
  .form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  
  .form .submit-btn {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 3px;
    border: none;
    border-radius: 10px;
    background: rgb(130, 106, 251);
  }
  
  .disable{
      display: none;
  }
